.product-section {
  max-width: 1140px;
  width: 100%;
  margin: 30px auto;
  padding: 90px 24px 60px;

}
.product-section2{
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--grid-gutter-x) / 2);
  margin-left: calc(-1 * var(--grid-gutter-x) / 2);
  --grid-gutter-x: 40px;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 8px;
}
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .product-image {
    
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .me-auto {
    margin-right: auto !important;
}
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .add-to-cart {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #3e8e41;
  }
  